<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        数据源配置
    -->
    <bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="dataSource">
        <property name="user" value="root" />
        <property name="password" value="root" />
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/ssm_exam" />
    </bean>

    <!--
        创建SqlSessionFactoryBean
        将MyBatis配置交给Spring管理  基于注解(只需要指定数据源即可)
    -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--指定数据源-->
        <property name="dataSource" ref="dataSource" />
    </bean>


    <!--
        指定Dao层接口所在的位置
    -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--接口的包-->
        <property name="basePackage" value="com.itheima.dao" />
    </bean>


</beans>